.link {
  font-family: Roboto;
  color: #00ae1c;
  text-decoration: none;
  width: 28px;
  height: 11px;
  top: 16px;
  left: 16px;
  font-size: 15px;
}

.link:hover {
  color: #00ae1c;
}

.link:active {
  color: #0cd52b;
}

.disabled {
  color: #575d58;

  cursor: not-allowed;
}
