* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}


.body {
    font-family: Arial, sans-serif;
}

.flex-container {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 10px; 
    padding: 20px;
}

.flex-item {
    background-color: rgb(242, 227, 16);
    padding: 20px;
    text-align: center;
    flex: 1 1 200px; 
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
