body {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  line-height: 20px;
  letter-spacing: -0.3px;
  vertical-align: middle;
}
.button {
  background: #00ae1c;
  width: 80px;
  height: 36px;
  min-height: 36px;
  top: 91px;
  left: 974px;
  border-radius: 8px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
  gap: 4px;
}
.app {
  width: 700px;
  height: 800px;
  top: 78px;
  left: 370px;
  border-radius: 8px;
  background-color: #ffffff;
}
