.account-title {
    text-align: center;
    font-size: 44px;
    margin-top: 0px;
    min-height: 0vh;
    font-weight: bold;
    background-color:orange;
    justify-content: center;
    color: white;
    border-radius: 8px;
    width: 100%;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="range"],
select,
textarea {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(237, 234, 231);
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh;
    display: flex;
    border-radius: 8px;
    color: orange;
}
.form-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media screen and (max-width: 1024px) {
    .form-container {
        padding: 10px;
    }
    .account-title {
        font-size: 2em;
    }
}
@media screen and (max-width: 767px) {
    body {
        font-size: 14px; 
    }
    .form-container {
        padding: 5%;
    }
    .account-title {
        font-size: 1.5em; 
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="range"],
    select,
    textarea {
        width: 100%; 
    }
}